/* PLUGIN UI */
* { border: 0; padding: 0; margin: 0; }
.hidden { display: none!important; }
form { padding: 16px; }
fieldset { margin-bottom: 0px; }
p.type { margin-bottom: 16px; }
p.type--11-pos-bold { margin-bottom: 8px; }

.extra-options { padding-left: 40px; margin-bottom: 24px; }
.extra-options input { width: 128px; }

.button { margin-top: 16px; }

v-form .empty-selection {
	text-align: center;
	padding: 0 24px;
	text-align: center;
	padding: 0 24px;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
}
v-form .empty-selection h1 { margin-bottom: 8px; }



.show-preferences { margin: -4px; }
.show-preferences a { display: block; border-radius: 4px; padding: 8px; border: solid 2px transparent; }
.show-preferences a:hover { background: var(--color-decorator-soft); text-decoration: none; }
.show-preferences a:active { border-color: var(--color-interactive-positive); }
.show-preferences .icon { display: block; float: left; margin-right: 12px; }
.show-preferences h1, .show-preferences p { overflow: hidden; }
.show-preferences h1 { font: var(--type-small-bold); color: var(--color-text-primary); }
.show-preferences p { font: var(--type-small-normal); color: var(--color-text-secondary); margin: 0; }
